<div class="timezone-clock-wrapper">
  <div class="time">
    {{formatted_datetime.time}}
  </div>
  <div class="date">
    {{formatted_datetime.date}}
  </div>
  <div class="timezone">
    Time in {{city}}, {{country}}
  </div>
</div>
